@model int;

<form asp-action="Sum">
	<label>Num1</label>
	<input type="number" name="num1" />
	<label>Num2</label>
	<input type="number" name="num2" />
	<input type="submit" value="sumit" class="btn btn-primary" />
</form>

<label> Total value from the code : @Model</label>