@model LiveCode.Models.FormUploads.UserViewModel;

FileUploadModelCaller


<!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenterTitle" onclick="FileUploadModelCaller()">Large modal</button>



@Html.Partial("_uploadFile")
